# Clavier | Clavier.lpf
# Copyright (c) 2025 L. Sartory
# SPDX-License-Identifier: MIT

BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

SYSCONFIG CONFIG_IOVOLTAGE=3.3 CONFIG_MODE=SPI_QUAD SLAVE_SPI_PORT=DISABLE MASTER_SPI_PORT=DISABLE;

BANK 0 VCCIO 3.3 V;
BANK 1 VCCIO 3.3 V;
BANK 2 VCCIO 3.3 V;
BANK 3 VCCIO 3.3 V;
BANK 6 VCCIO 3.3 V;
BANK 7 VCCIO 3.3 V;
BANK 8 VCCIO 3.3 V;

IOBUF PORT "CLK_12MHz"    IO_TYPE=LVCMOS33 PULLMODE=NONE;
IOBUF PORT "KEYS[0]"      IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "KEYS[1]"      IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "KEYS[2]"      IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "KEYS[3]"      IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "KEYS[4]"      IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "KEYS[5]"      IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "KEYS[6]"      IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "KEYS[7]"      IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "KEYS[8]"      IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "KEYS[9]"      IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "KEYS[10]"     IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "KEYS[11]"     IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "KEYS[12]"     IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "KEYS[13]"     IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "KEYS[14]"     IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "KEYS[15]"     IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "KEYS[16]"     IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "KEYS[17]"     IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "KEYS[18]"     IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "KEYS[19]"     IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "KEYS[20]"     IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "KEYS[21]"     IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "KEYS[22]"     IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "KEYS[23]"     IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "KEYS[24]"     IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "KEYS[25]"     IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "KEYS[26]"     IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "KEYS[27]"     IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "KEYS[28]"     IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "KEYS[29]"     IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "KEYS[30]"     IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "KEYS[31]"     IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "KEYS[32]"     IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "KEYS[33]"     IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "KEYS[34]"     IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "KEYS[35]"     IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "KEYS[36]"     IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "KEYS[37]"     IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "KEYS[38]"     IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "KEYS[39]"     IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "KEYS[40]"     IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "KEYS[41]"     IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "KEYS[42]"     IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "KEYS[43]"     IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "KEYS[44]"     IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "KEYS[45]"     IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "KEYS[46]"     IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "KEYS[47]"     IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "KEYS[48]"     IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "KEYS[49]"     IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "KEYS[50]"     IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "KEYS[51]"     IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "KEYS[52]"     IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "KEYS[53]"     IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "KEYS[54]"     IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "KEYS[55]"     IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "KEYS[56]"     IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "KEYS[57]"     IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "KEYS[58]"     IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "KEYS[59]"     IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "KEYS[60]"     IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "KEYS[61]"     IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "KEYS[62]"     IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "KEYS[63]"     IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "KEYS[64]"     IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "KEYS[65]"     IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "KEYS[66]"     IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "KEYS[67]"     IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "KEYS[68]"     IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "KEYS[69]"     IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "KEYS[70]"     IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "KEYS[71]"     IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "KEYS[72]"     IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "KEYS[73]"     IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "KEYS[74]"     IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "KEYS[75]"     IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "KEYS[76]"     IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "KEYS[77]"     IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "KEYS[78]"     IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "KEYS[79]"     IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "KEYS[80]"     IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "KEYS[81]"     IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "KEYS[82]"     IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "KEYS[83]"     IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "KEYS[84]"     IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "KEYS[85]"     IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "KEYS[86]"     IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "KEYS[87]"     IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "KEYS[88]"     IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "KEYS[89]"     IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "KEYS[90]"     IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "KEYS[91]"     IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "KEYS[92]"     IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "KEYS[93]"     IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "KEYS[94]"     IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "KEYS[95]"     IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "KEYS[96]"     IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "KEYS[97]"     IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "KEYS[98]"     IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "KEYS[99]"     IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "KEYS[100]"    IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "KEYS[101]"    IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "KEYS[102]"    IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "KEYS[103]"    IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "KEYS[104]"    IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "KEYS[105]"    IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "LEDS[0]"      IO_TYPE=LVCMOS33 SLEWRATE=SLOW;
IOBUF PORT "LEDS[1]"      IO_TYPE=LVCMOS33 SLEWRATE=SLOW;
IOBUF PORT "LEDS[2]"      IO_TYPE=LVCMOS33 SLEWRATE=SLOW;
IOBUF PORT "LEDS[3]"      IO_TYPE=LVCMOS33 SLEWRATE=SLOW;
IOBUF PORT "LEDS[4]"      IO_TYPE=LVCMOS33 SLEWRATE=SLOW;
IOBUF PORT "USB_DN"       IO_TYPE=LVCMOS33 SLEWRATE=FAST;
IOBUF PORT "USB_DP"       IO_TYPE=LVCMOS33 SLEWRATE=FAST;
IOBUF PORT "USB_DP_PULL"  IO_TYPE=LVCMOS33 SLEWRATE=FAST;

LOCATE COMP "CLK_12MHz"    SITE "M1";
#LOCATE COMP "GPIO[0]"      SITE "E3";
#LOCATE COMP "GPIO[1]"      SITE "F4";
#LOCATE COMP "GPIO[2]"      SITE "1";
#LOCATE COMP "GPIO[3]"      SITE "2";
#LOCATE COMP "GPIO[4]"      SITE "H5";
#LOCATE COMP "GPIO[5]"      SITE "H3";
#LOCATE COMP "GPIO[6]"      SITE "5";
#LOCATE COMP "GPIO[7]"      SITE "4";
#LOCATE COMP "GPIO[8]"      SITE "J3";
#LOCATE COMP "GPIO[9]"      SITE "J4";
#LOCATE COMP "GPIO[10]"     SITE "K3";
#LOCATE COMP "GPIO[11]"     SITE "K4";
#LOCATE COMP "GPIO[12]"     SITE "M4";
#LOCATE COMP "GPIO[13]"     SITE "M3";
#LOCATE COMP "GPIO[14]"     SITE "L4";
#LOCATE COMP "GPIO[15]"     SITE "L3";
LOCATE COMP "KEYS[0]"      SITE "G13"; # K.A
LOCATE COMP "KEYS[1]"      SITE "J13"; # K.AE
LOCATE COMP "KEYS[2]"      SITE "E15"; # K.Acute
LOCATE COMP "KEYS[3]"      SITE "N13"; # K.Alt
LOCATE COMP "KEYS[4]"      SITE "P13"; # K.AltGr
LOCATE COMP "KEYS[5]"      SITE "L13"; # K.B
LOCATE COMP "KEYS[6]"      SITE "D12"; # K.Bksp
LOCATE COMP "KEYS[7]"      SITE "L14"; # K.C
LOCATE COMP "KEYS[8]"      SITE "A15"; # K.Circ
LOCATE COMP "KEYS[9]"      SITE "R16"; # K.Comma
LOCATE COMP "KEYS[10]"     SITE "J16"; # K.Comp
LOCATE COMP "KEYS[11]"     SITE "G14"; # K.D
LOCATE COMP "KEYS[12]"     SITE "A6";  # K.Delete
LOCATE COMP "KEYS[13]"     SITE "M13"; # K.Dot
LOCATE COMP "KEYS[14]"     SITE "T13"; # K.Down
LOCATE COMP "KEYS[15]"     SITE "F15"; # K.E
LOCATE COMP "KEYS[16]"     SITE "B4";  # K.End
LOCATE COMP "KEYS[17]"     SITE "C9";  # K.Esc
LOCATE COMP "KEYS[18]"     SITE "C12"; # K.Eszett
LOCATE COMP "KEYS[19]"     SITE "K16"; # K.F
LOCATE COMP "KEYS[20]"     SITE "B14"; # K.F1
LOCATE COMP "KEYS[21]"     SITE "E9";  # K.F2
LOCATE COMP "KEYS[22]"     SITE "A14"; # K.F3
LOCATE COMP "KEYS[23]"     SITE "E10"; # K.F4
LOCATE COMP "KEYS[24]"     SITE "B13"; # K.F5
LOCATE COMP "KEYS[25]"     SITE "E8";  # K.F6
LOCATE COMP "KEYS[26]"     SITE "A13"; # K.F7
LOCATE COMP "KEYS[27]"     SITE "C8";  # K.F8
LOCATE COMP "KEYS[28]"     SITE "B12"; # K.F9
LOCATE COMP "KEYS[29]"     SITE "D8";  # K.F10
LOCATE COMP "KEYS[30]"     SITE "A12"; # K.F11
LOCATE COMP "KEYS[31]"     SITE "C7";  # K.F12
LOCATE COMP "KEYS[32]"     SITE "H13"; # K.G
LOCATE COMP "KEYS[33]"     SITE "K15"; # K.H
LOCATE COMP "KEYS[34]"     SITE "M16"; # K.Hash
LOCATE COMP "KEYS[35]"     SITE "B5";  # K.Home
LOCATE COMP "KEYS[36]"     SITE "E13"; # K.I
LOCATE COMP "KEYS[37]"     SITE "B6";  # K.Insert
LOCATE COMP "KEYS[38]"     SITE "H14"; # K.J
LOCATE COMP "KEYS[39]"     SITE "L16"; # K.K
LOCATE COMP "KEYS[40]"     SITE "J14"; # K.L
LOCATE COMP "KEYS[41]"     SITE "P14"; # K.LCtrl
LOCATE COMP "KEYS[42]"     SITE "T15"; # K.LMeta
LOCATE COMP "KEYS[43]"     SITE "K14"; # K.LShift
LOCATE COMP "KEYS[44]"     SITE "P12"; # K.Left
LOCATE COMP "KEYS[45]"     SITE "N3";  # K.Lock
LOCATE COMP "KEYS[46]"     SITE "M15"; # K.Lt
LOCATE COMP "KEYS[47]"     SITE "M14"; # K.M
LOCATE COMP "KEYS[48]"     SITE "N12"; # K.Menu
LOCATE COMP "KEYS[49]"     SITE "R15"; # K.Minus
LOCATE COMP "KEYS[50]"     SITE "P15"; # K.N
LOCATE COMP "KEYS[51]"     SITE "G16"; # K.O
LOCATE COMP "KEYS[52]"     SITE "L15"; # K.OE
LOCATE COMP "KEYS[53]"     SITE "E14"; # K.P
LOCATE COMP "KEYS[54]"     SITE "D5";  # K.Pause
LOCATE COMP "KEYS[55]"     SITE "A3";  # K.PgDn
LOCATE COMP "KEYS[56]"     SITE "A4";  # K.PgUp
LOCATE COMP "KEYS[57]"     SITE "F13"; # K.Plus
LOCATE COMP "KEYS[58]"     SITE "D7";  # K.Print
LOCATE COMP "KEYS[59]"     SITE "E16"; # K.Q
LOCATE COMP "KEYS[60]"     SITE "D13"; # K.R
LOCATE COMP "KEYS[61]"     SITE "R13"; # K.RCtrl
LOCATE COMP "KEYS[62]"     SITE "T14"; # K.RMeta
LOCATE COMP "KEYS[63]"     SITE "N14"; # K.RShift
LOCATE COMP "KEYS[64]"     SITE "N11"; # K.Right
LOCATE COMP "KEYS[65]"     SITE "F14"; # K.Rtrn
LOCATE COMP "KEYS[66]"     SITE "J15"; # K.S
LOCATE COMP "KEYS[67]"     SITE "D6";  # K.SLock
LOCATE COMP "KEYS[68]"     SITE "R14"; # K.Space
LOCATE COMP "KEYS[69]"     SITE "F16"; # K.T
LOCATE COMP "KEYS[70]"     SITE "C13"; # K.Tab
LOCATE COMP "KEYS[71]"     SITE "G15"; # K.U
LOCATE COMP "KEYS[72]"     SITE "H15"; # K.UE
LOCATE COMP "KEYS[73]"     SITE "R12"; # K.Up
LOCATE COMP "KEYS[74]"     SITE "P16"; # K.V
LOCATE COMP "KEYS[75]"     SITE "C14"; # K.W
LOCATE COMP "KEYS[76]"     SITE "N16"; # K.X
LOCATE COMP "KEYS[77]"     SITE "K13"; # K.Y
LOCATE COMP "KEYS[78]"     SITE "D14"; # K.Z
LOCATE COMP "KEYS[79]"     SITE "D16"; # K._0
LOCATE COMP "KEYS[80]"     SITE "D9";  # K._1
LOCATE COMP "KEYS[81]"     SITE "B15"; # K._2
LOCATE COMP "KEYS[82]"     SITE "C10"; # K._3
LOCATE COMP "KEYS[83]"     SITE "B16"; # K._4
LOCATE COMP "KEYS[84]"     SITE "D10"; # K._5
LOCATE COMP "KEYS[85]"     SITE "C15"; # K._6
LOCATE COMP "KEYS[86]"     SITE "C11"; # K._7
LOCATE COMP "KEYS[87]"     SITE "C16"; # K._8
LOCATE COMP "KEYS[88]"     SITE "D11"; # K._9
LOCATE COMP "KEYS[89]"     SITE "N6";  # Kp.Dot
LOCATE COMP "KEYS[90]"     SITE "N4";  # Kp.Minus
LOCATE COMP "KEYS[91]"     SITE "B3";  # Kp.NLock
LOCATE COMP "KEYS[92]"     SITE "T3";  # Kp.Plus
LOCATE COMP "KEYS[93]"     SITE "P5";  # Kp.Rtrn
LOCATE COMP "KEYS[94]"     SITE "B2";  # Kp.Slash
LOCATE COMP "KEYS[95]"     SITE "J5";  # Kp.Star
LOCATE COMP "KEYS[96]"     SITE "P6";  # Kp._0
LOCATE COMP "KEYS[97]"     SITE "R5";  # Kp._1
LOCATE COMP "KEYS[98]"     SITE "T4";  # Kp._2
LOCATE COMP "KEYS[99]"     SITE "R4";  # Kp._3
LOCATE COMP "KEYS[100]"    SITE "P4";  # Kp._4
LOCATE COMP "KEYS[101]"    SITE "R3";  # Kp._5
LOCATE COMP "KEYS[102]"    SITE "N5";  # Kp._6
LOCATE COMP "KEYS[103]"    SITE "A2";  # Kp._7
LOCATE COMP "KEYS[104]"    SITE "E4";  # Kp._8
LOCATE COMP "KEYS[105]"    SITE "K5";  # Kp._9
LOCATE COMP "LEDS[0]"      SITE "A5";
LOCATE COMP "LEDS[1]"      SITE "C6";
LOCATE COMP "LEDS[2]"      SITE "C5";
LOCATE COMP "LEDS[3]"      SITE "C4";
LOCATE COMP "LEDS[4]"      SITE "C3";
LOCATE COMP "USB_DN"       SITE "D1";
LOCATE COMP "USB_DP"       SITE "C1";
LOCATE COMP "USB_DP_PULL"  SITE "B1";
